# Виртуална среда
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# System
.DS_Store
Thumbs.db
